A database is an organized collection of data, so that it can be easily accessed and managed. SQL is the query structure language means data in tabular form or row or column format.
NoSQL is Not only structural query language  are non-tabular databases and store data differently than relational tables. NoSQL databases come in a variety of types based on their data model.

q2 What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
ans. DDL is the Data defination language which used to define the database in the sql. 
Create is used to create the table and database.
Example create database dharm;
DROP is  used to delete a table, database or  column in an existing table.
DROP table test
ALTER TABLE test
DROP COLUMN c4;
ALTER is used to  adds and deletes various constraints in a table.
TRUNCATE TABLE command deletes the data inside a table, but not the table itself.
TRUNCATE TABLE test;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
DML means data manipulation language which deals with data manipulation and includes most common SQL statements such SELECT, INSERT, UPDATE, DELETE, etc., and it is used to store, modify, retrieve, delete and update data in a database.

SELECT - retrieve data from a database
INSERT - insert data into a table
UPDATE - updates existing data within a table
DELETE - Delete all records from a database table 

select * from the test;
insert into table values(12, "dharm", 23.2,25,"yadav");
UPDATE Customers
SET Name = 'Dharm'
WHERE ID = 1;
DELETE FROM test WHERE Name='dharm';

What is DQL? Explain SELECT with an example.
DQL is data query language which perfom the query operation on the database or table.
select is used to retrive the data from the database;
select & from the test;

Explain Primary Key and Foreign Key.
A primary key is a field in a table which uniquely identifies each row/record in a database table. Primary keys must contain unique values.
A foreign key is a key used to link two tables together. This is sometimes also called as a referencing key.

In [ ]:
Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
cursor() cursor is an object that enables traversal over the rows of a result set. 
It allows you to process individual row returned by a query. First, declare a cursor. 
To declare a cursor, you specify its name after the DECLARE keyword with the CURSOR data type and provide a SELECT statement
that defines the result set for the cursor.

execute() is used to excute the command or procedure store in the excute().

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()

mycursor.execute("insert into test.test34 values(1223, 'Dharm', 23.02, 564, 'Yadav')")
mydb.commit()
mydb.close()

In [ ]:
Give the order of execution of SQL clauses in an SQL query.
ans. The SQL query execution order is the order of clauses to execute while sorting our data. 
We execute the From / Join clause first to join our tables and can also create some temporary tables.
We use the WHERE clause after the tables are joined to set up the working dataset and filter the data according to the 
conditions given in the query.
Simple order of sql is as follow 
1.FROM clause
2 ON clause
3 OUTER clause
4 WHERE clause
5 GROUP BY clause
6 HAVING clause
7 SELECT clause
8 DISTINCT clause
9 ORDER BY clause
10 TOP clause